body {
    font-family: 'Open Sans', sans-serif;
}

.main-container {
    background-color: #f8f9fa;
    max-width: 411px;
    margin: auto;
}

.nav-parent, .nav-parent > a {
    background-color: #0057ff;
    color: #ffffff !important;
}

.nav-child, .nav-child > a {
    background-color: #353535;
    color: #ffffff !important;
}

.icon-parent {
    display: flex;
    margin: auto;
}

.img-max {
    max-height: 160px;
    min-height: 160px;
    width: 100%;
    object-fit: cover;
}

.img-login {
    max-height: 250px;
    min-height: 250px;
    width: 100%;
    object-fit: cover;
}

.card-custom {
    border-radius: 5px !important;
    background: transparent !important;
}

.detail-parent > img {
    border-radius: 5px;
}

.rating {
    display: flex;
}

.btn-custom {
    background-color: #fc6c26;
    color: #ffffff;
}